<form class="form" role="form" nf-entity-form="cz.cvut.fel.nutforms.example.model.Bug:new">
    <h1 nf-form-label="nf-form-label"></h1>
    <div nf-field-widget="id"></div>
    <p style="color: darkgreen; font-style: italic">Unikátní ID, nevyplňujte, bude vygenerováno automaticky.</p>
    <div nf-field-widget="description"></div>
    <p style="color: darkgreen; font-style: italic">Popis problému. Buďte co nejvíce konkrétní, abychom se nemuseli ptát na detaily a mohli problém co nejrychleji replikovat.</p>
    <div nf-field-widget="log"></div>
    <p style="color: darkgreen; font-style: italic">Stack trace výjímky nebo chybová hláška.</p>
    <div nf-field-widget="project"></div>
    <p style="color: darkgreen; font-style: italic">Vyberte Projekt ve kterém bude Bug reportován.</p>
</form>
