<form class="form" role="form" nf-entity-form="cz.cvut.fel.nutforms.example.model.Bug:new">
    <h1 nf-form-label="nf-form-label"></h1>
    <div nf-field-widget="id"></div>
    <p style="color: darkgreen; font-style: italic">Unique id, will be generated automatically, do not fill.</p>
    <div nf-field-widget="description"></div>
    <p style="color: darkgreen; font-style: italic">Description of the Bug. Please be as concrete as possible, so we can replicate fast and don't have to ask you.</p>
    <div nf-field-widget="log"></div>
    <p style="color: darkgreen; font-style: italic">Stack trace of exception or just the error message.</p>
    <div nf-field-widget="project"></div>
    <p style="color: darkgreen; font-style: italic">Choose the Project for which the Bug is reported.</p>
</form>
